$fg-light: #208afc
$fg-medium: #0d72dd
$fg-dark: #0d50c4

$bg-light: #777777
$bg-medium: #303030
$bg-dark: #212121


$info-lt: #b5eefc
$info-dk: #00728e

$warn-lt: #fced7b
$warn-dk: #cec32d

$error-lt: #fca099
$error-dk: #a50b00



$font-stack: "Titillium Web", sans-serif


$bs-row-height: 1.25rem